<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  {% include bootstrap.html %}
  <link rel="stylesheet" href="{{ site.url }}/css/style.css" type="text/css" />
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
  {% if page.name != 'index.md' %}
    <script>
    // add toc toggler
    $(function(){
      $('#markdown-toc').click(function(e){
        $(this).children('li').toggle();
        $(this).toggleClass('toc-collapse');
      });
      $("#markdown-toc li").click(function(e){
        e.stopPropagation();
      });
    });
    // add header links
    $(document).ready(function () {
      $("h2, h3, h4, h5, h6").each(function() {
        el = $(this)
        id = el.attr('id')
        icon = '<span></span>'
        if (id) {
          el.append($("<a />").addClass("header-link").attr("href", "#" + id).html(icon));
        }
      })
    })
    </script>
  {% endif %}
</head>

<body class='d-flex flex-column h-100'>
  {% include header.html %}
  <main class='flex-shrink-0'>
    <div class="container pt-1 mb-5">
      <h1 class='col-12 mt-sm-1'>{{ page.title }}</h1>
      {{ content }}
    </div>
  </main>
  {% include footer.html %}

</body>

</html>
